body {
    background-color: rgb(20, 20, 20);
}

#all {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 25px;
}

#console-container {
    width: 500px;
    height: 1000px;
    padding: 25px 15px;
    border: 5px solid red;
    margin-right: 20px;
    margin-top: 50px;

    color: white;
    font-size: 50px;

    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;

    overflow-y: auto;
}

#console-container > div {
    word-break: break-word;
    white-space: pre-wrap;
    /* сохраняет пробелы и переносы */
}

#stargate-and-keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stargate-container {
    position: relative;
    display: flex;
    justify-content: center;
}

#functional-buttons-container {
    margin-top: 20px;
}

#keyboard-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#glyph-keyboard-container {
    display: grid;
    grid-template-columns: repeat(13, auto);
    justify-content: center;
}

#address-input-container {
    width: 800px;
    height: 100px;
    border: 4px solid #00958e;
    background-color: rgb(25, 25, 25);

    font-family: 'Stargate SG-1 Address Glyphs';
    font-size: 100px;
    text-align: center;
    color: white;
}


.chevron {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;

    transition: opacity 0.5s;
}


.glyph-button {
    height: 100px;
    width: 100px;
    border: 4px solid #00958e;
    background-color: rgb(25, 25, 25);

    font-family: 'Stargate SG-1 Address Glyphs';
    font-size: 50px;
    text-align: center;
    color: white;

    transition-duration: 0.1s;
}

.glyph-button:hover:not(.disabled) {
    color: rgb(0, 195, 255);
}

.glyph-button:hover {
    background-color: black;
}

.glyph-button:active {
    transform: scale(95%)
}

.disabled {
    color: rgb(255, 0, 0);
}

.functional-button {
    height: 100px;
    width: 350px;
    border: 4px solid #00958e;
    background-color: rgb(25, 25, 25);

    font-size: 50px;
    text-align: center;
    color: white;
}